/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

/* General setup */
* { 
    padding: 0;
    margin:0;
    box-sizing: border-box;
  }

html {
    font-size:16px;
}

body {font-family: Montserrat, sans-serif;
    font-size:1rem;
    padding:1rem;
    min-width:39rem;
    max-width:50rem;
    margin:0 auto;
    
}

/* Layout */

.top {
    display:flex;
}

.left {
    width: 65%;
    padding-left: 1.75rem;
    /* display: flex; */
}
.article-image {

    float: left;
    width: 50%;
    padding: .375rem;
}

.main-section {
    font-family: Montserrat, sans-serif;
}

figure {
    width:100%;
    margin:0 10% 0 0;
}


figcaption {
    margin: .375rem 0;
    font-size: 0.75rem;
    margin-bottom: 2rem;
    text-align: left;
}


section, aside, nav, footer {
  padding: .5rem;
}

/* header and footer */

header {
    font-family: Montserrat, sans-serif;
 
}

/* Imported Typfaces */

@font-face {
    font-family: 'sans-serif';
    src: url('../fonts/sans-serif/montserrat-regular.ttf') format('truetype, opentype');
        font-weight: normal;
        font-style: normal;

}

@font-face {
    font-family: serif;
    src: url('../fonts/serif/rozhaone-regular.ttf') format('opentype, truetype');
        font-weight: normal;
        font-style: normal; 
}
@font-face {
    font-family: serif;
    src:url('../fonts/serif/ultra-regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal; 
}




/* Typography Styles */

html {
    
    font-family:Montserrat, sans-serif;
    src:url(../fonts/montserrat-regular.ttf) format('truetype, opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family:Montserrat, Ultra, serif, sans-serif;
    letter-spacing: 0.125rem;
    font-size: 3.75rem;
    margin: 1.125rem;
    text-align: center;
}


h2 {
    font-family:Montserrat, sans-serif;
    letter-spacing: 0.125rem;
    font-size: 1.5rem;
    text-align: left;
}

h3 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.125rem;
    text-indent: 1.5rem;
    text-align: left;
}

.container {
    display: flex;
}

.subsection {
    display: grid;
    gap: 0.25rem;
    float: left;
    width: 33.33%;
    padding: .375rem;
    grid-template-columns: auto;
}
      
.right {
    border-left: .08rem;
    width: 25%;
    
}

.rightcolumn {
    display: flex;
    flex-direction: column;
    padding: 9rem;
    height: 31.5rem;
}

.box {
    display:flex;
    flex-direction: column;
}

#charcoal,
span {
    padding-top: 1.125rem;
    font-size: 1.5rem;
    font-weight: bold;
    transform: rotate(-10deg);
    font-weight: bolder;
    color: white;
    font-family: ultra, serif;
    background-color: rgb(99, 41, 52);
    border-radius: .375rem;  
}

.highlight {
    font-weight: bold;
}


p {
    font-family: Montserrat, sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.031rem;
    word-spacing: 0.125rem;
    text-indent: none;
}


/* Link Styling */

a {
    text-decoration: none;
    outline: none;
}

a:link,
a:visited {
    color: #33658A;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}

button {
    height: 3rem;
    width: 9rem;
    font-size: 1.2rem;
    border-radius: .675;
    font-weight: bold;
    font-family: rozhaone, serif;
    background-color: darkslateblue;
    box-shadow: black;
    color: white;
    margin-left: 1.2rem;
    box-shadow: #03080c;
}



/* Navigation Menu */

nav {
    border-top: .125rem solid #33658A;
    border-bottom: .125rem solid #33658A;
    text-align: left;
    padding-left: 0;
    margin-top: 0.125rem;
}

nav a {
    text-decoration: none;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    color: #33658A;
    word-spacing: 25rem;
}

nav a:focus,
nav a:hover { 
    text-decoration: none;
}
nav a:active {
    color: black;
    text-transform: uppercase;
    text-decoration: line-through;
    rotate: (-5deg);
}

.wrapper {
    float: left;
    text-decoration: none;
    padding: .075rem;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding: 2.5rem;
}

/* Footer Styles */

footer {

    margin-top:1.5rem;
    display: flex;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    justify-content: space-between;
    font-family: rozhaone, serif;
    text-decoration: none;
}


